In [1]:
import pandas as pd 
df =pd.read_csv('iris.csv')
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [3]:
# Provide summary statistics for sepal length grouped by species
grouped = df.groupby('species')['SepalLengthCm']
summary = grouped.describe()
print(summary)

                 count   mean       std  min    25%  50%  75%  max
species
Iris-setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [5]:
# Create a list that contains a numeric value for each response to the categorical variable
species_values = {'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}
df['species_values'] = df['species'].map(species_values)
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,species,species_values
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,2
146,147,6.3,2.5,5.0,1.9,Iris-virginica,2
147,148,6.5,3.0,5.2,2.0,Iris-virginica,2
148,149,6.2,3.4,5.4,2.3,Iris-virginica,2
149,150,5.9,3.0,5.1,1.8,Iris-virginica,2

In [7]:
# Display some basic statistical details for each species
for species, group in df.groupby('species'):
    print(f"Species: {species}")
    print(f"Number of instances: {len(group)}")
    print(f"Mean sepal length: {group['SepalLengthCm'].mean()}")
    print(f"Standard deviation of sepal length: {group['SepalLengthCm'].std()}")
    print(f"25th percentile of sepal length: {group['SepalLengthCm'].quantile(0.25)}")
    print(f"Median of sepal length: {group['SepalLengthCm'].median()}")
    print(f"75th percentile of sepal length: {group['SepalLengthCm'].quantile(0.75)}")
    print(f"Maximum sepal length: {group['SepalLengthCm'].max()}\n")

Species: Iris-setosa
Number of instances: 50
Mean sepal length: 5.006
Standard deviation of sepal length: 0.35248968721345136
25th percentile of sepal length: 4.8
Median of sepal length: 5.0
75th percentile of sepal length: 5.2
Maximum sepal length: 5.8

Species: Iris-versicolor
Number of instances: 50
Mean sepal length: 5.936
Standard deviation of sepal length: 0.5161711470638634
25th percentile of sepal length: 5.6
Median of sepal length: 5.9
75th percentile of sepal length: 6.3
Maximum sepal length: 7.0

Species: Iris-virginica
Number of instances: 50
Mean sepal length: 6.587999999999998
Standard deviation of sepal length: 0.6358795932744322
25th percentile of sepal length: 6.225
Median of sepal length: 6.5
75th percentile of sepal length: 6.9
Maximum sepal length: 7.9